/* reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
1. từ ngoài vào trong
2. từ trên xuống dưới
3. tổng quan đến chi tiết
 */
/*
1.vị trí
2.kích thước
3.màu sắc
4.kiểu dáng (kiểu chữ , hình tròn, vuông,...)


 */
html {
    font-family: Helvetica, Arial, sans-serif;
}
.clear {
    clear: both;
}
.text-white {
    color: #fff !important;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

#main {
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #333;
    z-index:1;
}
#nav{
    display:inline-block;
}
#nav, .subnav {
    list-style-type: none;

}
#nav li {
    position: relative;
}
#nav > li {
    display: inline-block;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav > li:hover .subnav{
    display: block;
}
#nav .subnav li:hover > a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;

}

#nav .subnav {
    display: none;
    win-width:160px;
    position: absolute;
    top:100%;
    left:0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.); /*bóng đổ */

}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
/*#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;*/
}
#nav .nav-arrow-down{
    font-size: 14px;
}
#header .search-btn{
    float: right;
    padding: 0 21px;
}
#header .search-btn:hover{
    background-color:#f44336;
    cursor: pointer;
}
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height:46px;

}
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/C:/wordks/Aptech/untitled1/assets/img/slider/slider1.jpg') top center / cover no-repeat;

}
#slider .text-content{
    width: 100%;
    right: 0;
    left: 0;
    text-align:center;
    position: absolute;
    bottom: 47px;
    color: #fff;



}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}


#content {
}
#content .content-section {
    width: 800px;
    padding: 64px;
    margin-left:auto;
    margin-right: auto;
}
#content .section-heading{
    font-size: 15px;
    font-weight:500;
    text-align: center;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .members-list {
    margin-top: 48px;

}
#content .member-item {
    float:left;
    width: 33.33333%;
    text-align: center;
    /*width: calc(100% / 3);*/
}
#content .member-name {
    font-size: 15px;
    /*text-align: center;*/
}
#content .member-img {
    width:154px;
    margin-top: 15px;
    border-radius: 4px;
}
.tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top:40px;
    list-style: none;
}
.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;


}
.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}
.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px; /* ket hop voi float */
}



/*places*/
.places-list{
    /*margin-top:32px;

    margin-right: -8px;
    padding: 48px;
     */
    margin: 32px -8px 48px;
}
.place-item{
    float:left;
    width: 33.33333%;
    padding: 0 8px;
}
.place-img{
    width: 100%;
    display:block;
}
.place-img:hover {
    opacity: 0.6;
}
.place-body{
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}
.place-heading{
    font-size: 15px;
    font-weight: 600 ;
}
.place-time{
    margin-top: 15px;
}

.place-desc{
    margin-top: 15px;
}
.place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}
.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}



#footer